.user__profile {
  display: block;
  width: 100%;
  margin: 3rem auto 1rem;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    li {
      display: block;
      width: 100%;

      .user__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        // background-color: rgba(0, 0, 0, 0.2);

        .user__icon {
          font-size: 7rem;
        }
      }

      .user__display__name {
        display: block;
        width: 100%;
        text-align: center;
        margin: 1rem auto;
        font-size: 1.8rem;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
}
