.checkout__container {
  margin: 2rem auto;

  .checkout__title {
    font-size: 2.5rem;
    font-weight: 500;
    display: block;
    width: 100%;
    margin-bottom: 3.5rem;
    text-align: center;
  }

  .cart {
    max-width: 100rem;
    margin: 0 auto;
    .checkout__header {
      padding-bottom: 1rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
      // border-bottom: 0.1rem solid black;

      .checkout__ul {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;

        .checkout__list {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        // .wide {
        //   display: none;
        // }
      }
    }

    .checkout__item {
      width: 100%;
    }
  }

  .cart__item {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    min-height: 4rem;

    .item__props {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: blueviolet;
      // border: 1px solid black;
      img {
        display: block;
        width: 100%;
      }

      .item__btn {
        cursor: pointer;
        margin: 0 0.8rem;
      }
    }

    // .wide {
    //   display: none;
    // }
  }
}
