.checkout__container {
  margin: 2rem auto;

  h1 {
    display: block;
    width: 100%;
  }
  h1,
  p {
    text-align: center;
  }
  .checkout__header {
    border-bottom: 0.1rem solid black;
  }
  .cart {
    //
    max-width: 100rem;
    margin: 0 auto;
  }
  .checkout__header,
  .cart {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 22%;
    }

    .cart__item {
      td img {
        display: block;
        width: 100%;
      }
    }
  }
}
