.payment__details {
  display: block;
  width: 100%;
  max-width: 100rem;
  padding: 0;
  margin: 3rem auto;

  .pd__group {
    margin: 0 0 2rem;
  }
  .payment__note {
    margin-top: 2rem;
    color: red;
    letter-spacing: 0.1rem;
  }
}
