.header__container {
  height: 6.5rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;

  .header__wrap {
    // background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2rem;
    .logo__wrap {
      display: flex;
      height: 100%;
      width: 15rem;
      // background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      .header__logo {
        // background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: black;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0.15rem;

        .logo__name {
          position: relative;
          color: rgb(255, 38, 0);
          display: flex;
          align-items: flex-start;
          justify-content: center;
          font-size: 6rem;
          font-weight: 900;
          // text-shadow: 2px 1px black;
        }
        .logo__span {
          color: black;
          font-size: 2.5rem;
          letter-spacing: 1.3rem;
          font-weight: 550;
          text-shadow: 1px 1px white;
          position: absolute;
          top: 3.2rem;
          left: 1.3rem;
          z-index: 1;
        }
      }
    }

    .registration__div {
      display: flex;
      height: 100%;
      margin-right: 20rem;
      min-width: 30rem;
      // background-color: rgba(0, 0, 0, 0.2);

      .registration__links {
        height: 100%;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.1rem;
        font-size: 1.4rem;

        &:hover {
          color: rgb(255, 38, 0);
        }
      }
      @media screen and(max-width: 900px) {
        .registration__links {
          display: none;
        }
      }

      .current__user__links {
        display: flex;
        flex-direction: row;
        height: 100%;

        .registration__logout {
          height: 100%;
          margin-left: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: black;
          letter-spacing: 0.1rem;
          font-size: 1.4rem;
          cursor: pointer;
        }
      }
      .registration__cart {
        // background-color: cornflowerblue;
        height: 100%;
        // margin-left: 1.5rem;
        margin: auto;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;

        .cart__icon {
          margin-left: auto;
          cursor: pointer;
          width: 3rem;
          height: 100%;
          position: relative;
          font-size: 0.5rem;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;

          .cart__count {
            position: absolute;
            top: 1.4rem;
            right: -0.5rem;
            background: crimson;
            font-size: 10px;
            color: white;
            padding: 3px 5px;
            border-radius: 50%;
            z-index: -1;
          }
        }
      }
    }
    @media screen and(max-width: 900px) {
      .registration__div {
        align-items: flex-end;
      }
    }
  }
}
