.header__container {
  height: 6.5rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;

  .header__wrap {
    // background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    justify-content: space-between;
    min-width: 1050px;
    margin-left: 2rem;

    .header__logo {
      // background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      width: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: black;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.15rem;
    }

    .registration__div {
      display: flex;
      height: 100%;
      margin-right: 1rem;

      .registration__links {
        height: 100%;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.1rem;
        font-size: 1.4rem;
      }
      .current__user__links {
        display: flex;
        flex-direction: row;
        height: 100%;

        .registration__logout {
          height: 100%;
          margin-left: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: black;
          letter-spacing: 0.1rem;
          font-size: 1.4rem;
          cursor: pointer;
        }
      }
      .registration__cart {
        height: 100%;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;

        .cart__icon {
          margin-left: auto;
          cursor: pointer;
          width: 3rem;
          height: 100%;
          position: relative;
          font-size: 0.5rem;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;

          .cart__count {
            position: absolute;
            top: 1.4rem;
            right: -0.5rem;
            background: crimson;
            font-size: 10px;
            color: white;
            padding: 3px 5px;
            border-radius: 50%;
            z-index: -1;
          }
        }
      }
    }
  }
}
