.header__container {
  height: 6.5rem;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container .header__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin-left: 2rem;
}

.header__container .header__wrap .logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 15rem;
  position: relative;
}

.header__container .header__wrap .logo__wrap .header__logo {
  height: 100%;
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.15rem;
}

.header__container .header__wrap .logo__wrap .header__logo .logo__name {
  position: relative;
  color: #ff2600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6rem;
  font-weight: 900;
}

.header__container .header__wrap .logo__wrap .header__logo .logo__span {
  color: black;
  font-size: 2.5rem;
  letter-spacing: 1.3rem;
  font-weight: 550;
  text-shadow: 1px 1px white;
  position: absolute;
  top: 3.2rem;
  left: 1.3rem;
  z-index: 1;
}

.header__container .header__wrap .registration__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 20rem;
  min-width: 30rem;
}

.header__container .header__wrap .registration__div .registration__links {
  height: 100%;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.header__container .header__wrap .registration__div .registration__links:hover {
  color: #ff2600;
}

@media screen and (max-width: 900px) {
  .header__container .header__wrap .registration__div .registration__links {
    display: none;
  }
}

.header__container .header__wrap .registration__div .current__user__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.header__container .header__wrap .registration__div .current__user__links .registration__logout {
  height: 100%;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.header__container .header__wrap .registration__div .registration__cart {
  height: 100%;
  margin: auto;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.header__container .header__wrap .registration__div .registration__cart .cart__icon {
  margin-left: auto;
  cursor: pointer;
  width: 3rem;
  height: 100%;
  position: relative;
  font-size: 0.5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container .header__wrap .registration__div .registration__cart .cart__icon .cart__count {
  position: absolute;
  top: 1.4rem;
  right: -0.5rem;
  background: crimson;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .header__container {
    width: 100%;
  }
  .header__container .header__wrap {
    width: 90vw;
  }
  .header__container .header__wrap .registration__div {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 0;
    min-width: 5rem;
  }
}
/*# sourceMappingURL=header.styles.css.map */