@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  font-size: 10px;
}
html,
body,
#root,
.App,
.main {
  height: 100%;
  position: relative;
}
html,
body {
  padding: 0;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}
h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  border-bottom: #d3d3d3;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a,
a:hover {
  transition: all 0.4s ease-in-out;
}
.main {
  width: 100%;
  // height: calc(100% - 6.5rem - 4rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
